.news__list{
    margin-top: 20px;
}

.news__block{
    width: 900px;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.news__block img{
    width: 380px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.news__blockInfo{
    width: 500px;
}

.news__data{
    font-size: 15px;
    font-weight: 700;
    color: var(--secondary);
    margin-top: 8px;
}

@media (max-width: 1124px){
    .news__list{
        max-width: 700px;
        margin-top: 20px;
        margin: 0 auto;
    }

    .news__block{
        width: 100%;
        display: block;
        margin-top: 25px;
    }
    
    .news__block img{
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .news__blockInfo{
        width: 100%;
    }
}

@media (max-width: 320px){
    .news__data{
        font-size: 12px;
    }
}